main .solution {
  background-color: #052825;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
main .solution .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .solution .container h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.94px;
  text-align: center;
  color: #FFFFFF;
  max-width: 730px;
  margin-bottom: 50px;
}
main .solution .container .solutions-container {
  width: 100%;
  justify-content: space-between;
  display: grid;
  gap: 50px 20px;
  grid-template-columns: repeat(3, minmax(0, 350px));
}
main .slider-big {
  margin-bottom: 100px;
}
main .slider-big .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .slider-big .container button {
  background-color: #E7EBFC;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.2s ease;
}
main .slider-big .container button svg {
  width: 20px;
  height: 20px;
  fill: #2E4FD7;
}
main .slider-big .container button:disabled svg {
  fill: #A1B3F4;
}
main .slider-big .container .slider-big-slides {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .slider-big .container .slider-big-slides .slider-big-image {
  width: 50%;
  margin: 20px;
}
main .slider-big .container .slider-big-slides h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.76px;
  max-width: 540px;
  color: #191919;
  margin-bottom: 50px;
}
main .slider-big .container .slider-big-slides h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.43px;
  color: #1E1E1E;
}
main .slider-big .container .slider-big-slides p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.29px;
  color: #767676;
}
main .customers {
  margin-bottom: 100px;
}
main .customers .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .customers .container h2 {
  max-width: 350px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.32px;
  color: #18191F;
}
main .customers .container h2 span {
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.76px;
}
main .customers .container .customres-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 160px));
  gap: 50px;
}
main .customers .container .customres-container img {
  width: 120px;
}
main .teammates {
  margin-bottom: 100px;
}
main .teammates .container h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.94px;
  color: #191919;
  margin-bottom: 50px;
}
main .teammates .container .teammates-container {
  display: grid;
  grid-template-columns: repeat(4, 255px);
  justify-content: space-between;
  gap: 50px 0;
}
@media screen and (max-width: 1090px) {
  main .teammates .container .teammates-container {
    grid-template-columns: repeat(2, minmax(0, 255px));
    justify-content: start;
    gap: 50px 20px;
  }
}
@media screen and (max-width: 924px) {
  main .solution {
    margin-bottom: 30px;
  }
  main .solution .container h2 {
    font-size: 25px;
    line-height: 40px;
    text-align: left;
  }
  main .solution .container .solutions-container article {
    padding: 20px 30px;
  }
  main .solution .container .solutions-container article img {
    margin-bottom: 0;
  }
  main .solution .container .solutions-container article h3 {
    font-size: 16px;
    margin-bottom: 0;
  }
  main .solution .container .solutions-container article p {
    font-size: 12px;
    margin: 0;
  }
  main .slider-big {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  main .customers {
    margin-bottom: 30px;
  }
  main .customers .container {
    flex-direction: column;
    align-items: start;
  }
  main .customers .container h2 {
    margin-bottom: 30px;
  }
  main .customers .container .customres-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  main .customers .container .customres-container img {
    width: 200px;
  }
  main .teammates {
    margin-bottom: 30px;
  }
  main .teammates .container h2 {
    font-size: 25px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 10px;
  }
  main .teammates .container .teammates-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 660px) {
  main .solution {
    align-items: start;
  }
  main .solution .container .solutions-container {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  main .solution .container .solutions-container article {
    width: 300px;
  }
}/*# sourceMappingURL=about.css.map */