@import '../../../Variebles/Variebles.scss';

.office-card{
    max-width: 540px;
    border: 1px solid $grey;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
    margin-left: 30px;

    &:first-child{
        margin-left: 0;
    }
    img{
        width: 100%;
        margin-bottom: 20px;
    }
    .office-card-text{
        padding: 20px;
        h3{
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: -0.58px;
            color: $title;
        }

        p{
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.36px;
            color: $paragaphColor;
            max-width: 460px;
            margin-bottom: 20px;
        }

        a{
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0px;
            color: $blue;
            display: flex;
            align-items: center;

            svg{
                fill: $blue;
            }
        }
    }
}