@font-face {
  font-family: 'Inter';
  src: url("fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

*{
  font-family: Inter;
  list-style-type: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

